{% extends "base_4.html" %}
{% load static %}
{% load custom_filters %}
{% block meta %}
<title>{{ site_name }} | مقالات و آموزش‌ها</title>
<meta name="description" content="جدیدترین مقالات، آموزش‌ها و نکات تخصصی در {{ site_name }} را در این بخش مطالعه کنید.">
<meta name="keywords" content="مقالات, آموزش, بلاگ, {{ site_name }}">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
<meta name="robots" content="index, follow">

<!-- OpenGraph -->
<meta property="og:type" content="website">
<meta property="og:title" content="مقالات و آموزش‌های {{ site_name }}">
<meta property="og:description" content="دسترسی به جدیدترین مقالات تخصصی در {{ site_name }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{{store.get_logo_image}}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="مقالات و آموزش‌های {{ site_name }}">
<meta name="twitter:description" content="جدیدترین مقالات و آموزش‌ها در {{ site_name }}">
<meta name="twitter:image" content="{{store.get_logo_image}}">

<!-- Structured Data (JSON-LD) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "headline": "بلاگ {{ site_name }}",
  "description": "جدیدترین مقالات آموزشی و تخصصی در {{ site_name }}",
  "url": "{{ request.build_absolute_uri }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ site_name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{store.get_logo_image}}"
    }
  }
}
</script>
{% endblock %}


{% block content %}



<section class="content my-25">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-12">
                <div class="product-slider-box-title mb-3">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">آخرین</span>
                        <span>مطالب</span>
                    </h4>
                </div>
            </div>
            <div class="col-lg-9 order-lg-1 order-2">
                <div class="row gy-4">
                    {% for post in posts %}
                    <div class="col-12">
                        <div class="blog-post-card bg-white  shadow-box rounded-3">
                            <div class="row gy-3">
                                <div class="col-md-4">
                                    <div class="blog-post-card-thumbnail">
                                        <img src="{{post.get_thumbnail}}" class="rounded-3" alt="{{ post.title }}">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="{% url 'shop:post_detail' post.slug %}">
                                        <div class="blog-post-card-title">
                                            <h6 class="fw-bold text-overflow-1">
                                                {{ post.title|truncatewords:10 }}
                                            </h6>
                                        </div>
                                        <div class="blog-post-card-description my-2">
                                            <p class="text-muted text-overflow-2 font-14">
                                                {{ post.body|striptags|html_unescape|truncatewords:40 }}
                                            </p>
                                        </div>
                                    </a>
                                    <div class="blog-post-card-meta pt-3 border-dashed">
                                        <div class="row">
                                            <div class="col-4">

                                                <a href="" class="badge text-bg-dark font-14">{{ post.category.name }}</a>
                                            </div>
                                            <div class="col-8">
                                                <div class="blog-item-date d-flex justify-content-end align-items-center">
                                                    <div class="blog-item-date-date">
                                                        <i class="bi bi-clock me-1"></i>
                                                        <span>{{ post.shamsi_created_date }}</span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 order-lg-2 order-1">
                <aside class="position-sticky top-0">
                    <div class="row gy-4">
                        <div class="col-12">
                            <div class="box-ui bg-white shadow-box border-ui p-3 rounded-3">
                                <div class="box-ui-title mb-1">
                                    <h6 class="icon-circle border-bottom pb-2 border-1">دسته بندی ها</h6>
                                </div>
                                <div class="box-ui-desc">
                                    <nav class="navbar">
                                        <ul class="navbar-nav">
                                            {% for category in blog_categories %}
                                            <li class="nav-item">
                                                <a href="{% url 'shop:category_post_list' category.get_slug %}" class="nav-link text-muted"><i class="bi bi-tag me-2"></i>
                                                    {{category.name}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="box-ui bg-white shadow-box border-ui p-3 rounded-3">
                                <div class="box-ui-title mb-1">
                                    <h6 class="icon-circle border-bottom pb-2 border-1">آخرین پست ها</h6>
                                </div>
                                <div class="box-ui-desc">
                                    <nav class="navbar">
                                        <ul class="navbar-nav">
                                            {% for post in recent_posts %}
                                            <li class="nav-item">
                                                <a href="{% url 'shop:post_detail' post.slug %}" class="nav-link">
                                                    
                                                    <div class="row" >
                                                        <div class="col-4">
                                                        <div class="image">
                                                            <img src="{{ post.get_thumbnail }}"
                                                                 class="img-thumbnail" alt="{{ post.title }}">
                                                        </div>
                                                        </div>
                                                        <div class="col-8">
                                                            <div class="d-flex align-items-start desc flex-wrap flex-column justify-content-between">
                                                            <h6 class="title mct-hover">{{ post.title|truncatewords:8 }}</h6>
                                                            <div class="d-flex align-items-center">
                                                                <p class="text-muted mb-0">{{ post.shamsi_created_date }}</p>
                                                                <div class="text-end ms-2"><i
                                                                        class="bi bi-arrow-left main-color-one-color"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>


{% endblock %}