{% extends "base_4.html" %} 
{% load static %} 
{% load humanize %} 
{% block meta %}
<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="description" content="خرید و قیمت {{product.name}} از فروشگاه اسباب بازی لیاتوی با بهترین قیمت و ارسال فوری و بالاترین کیفیت"/>
<meta content="Liatoy" name="author" />
<meta name="keywords" content="خرید {{product.name}}, قیمت {{product.name}}, {% if product.brand %}{{product.brand.name}}{% endif %}, {{product.name}}"/>
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{store.default_canonical}}{% url 'shop:product_detail' product.slug %}"/>

<!-- Open Graph tags -->
<meta property="og:title" content="فروشگاه اسباب بازی لیاتوی | قیمت و خرید {{product.name}}"/>
<meta property="og:description" content="{% if product.meta_og_description == '' %}{{product.get_default_meta_description|safe}}{% else %}{{product.meta_og_description|safe}}{% endif %}"/>
<meta property="og:image" content="{{product.get_thumbnail}}" rel="shortcut icon" type="image/x-icon"/>
<meta property="og:url" content="{{store.default_canonical}}{% url 'shop:product_detail' product.slug %}"/>
<meta property="og:type" content="website" />

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image" />
<meta name="twitter:title" content="فروشگاه اسباب بازی لیاتوی | قیمت و خرید {{product.name}}"/>
<meta name="twitter:description" content="خرید و قیمت {{product.name}} از فروشگاه اسباب بازی لیاتوی با بهترین قیمت و ارسال فوری و بالاترین کیفیت"/>
<meta name="twitter:image" content="{{product.get_thumbnail}}" />

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "{{ product.name }}",
    "image": ["{{ product.get_main_image }}"],
    "description": "خرید و قیمت {{product.name}} از فروشگاه اسباب بازی لیاتوی با بهترین قیمت و ارسال فوری و بالاترین کیفیت",
    "sku": "{{ product.id }}",
    "offers": {
      "@type": "Offer",
      "url": "{{store.default_canonical}}{% url 'shop:product_detail' product.slug %}",
      "priceCurrency": "IRR",
      "price": "{{ product.price }}",
      "availability": "https://schema.org/InStock"
    }
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "خانه",
        "item": "{{store.default_canonical}}/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "محصولات",
        "item": "{{store.default_canonical}}{% url 'shop:product_list' %}"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "نام محصول",
        "item": "{{store.default_canonical}}{% url 'shop:product_detail' product.slug %}"
      }
    ]
  }
</script>

{% endblock %} 
{% block title %}{% if product.seo_title %}{{product.seo_title}}{% else %}قیمت و خرید {{product.name}}{% endif %}{% endblock %} {% block content %}

<!--============ end mega menu ==============-->

<!--============ start main content ==============-->

<section class="content">
  <section class="bread-crumb py-0 my-4">
    <div class="container-fluid">
      <div class="content-box">
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="{% url 'shop:index' %}" class="font-14 text-muted"
                  >خانه</a
                >
              </li>
              <li class="breadcrumb-item">
                <a
                  href="{% url 'shop:product_list' %}"
                  class="font-14 text-muted"
                  >فروشگاه</a
                >
              </li>
              <li
                class="breadcrumb-item active main-color-one-color font-14"
                aria-current="page"
              >
                {{product.name}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid">
    <div class="content-box">
      <div class="container-fluid">
        <div class="row gy-3">
          <div class="col-xl-4 col-lg-3">
            <div class="pro_gallery">
              <div class="icon-product-box">
                <div
                  class="icon-product text-center"
                  data-bs-toggle="tooltip"
                  data-bs-placement="center"
                  data-bs-title="افزودن به علاقه مندی"
                >
                  {% if user.is_authenticated %}
                  <a
                    class="btn border-0 d-flex align-items-center rounded-3"
                    href="{% url 'shop:add_to_favorites' product_id=product.id ref='product_detail' %}"
                    rel="nofollow"
                  >
                    <i
                      class="bi {% if product.id in favorite_products %}bi-heart-fill{% else %}bi-heart{% endif %} fs-7 text-danger"
                    ></i>
                  </a>
                  {% else %}
                  <a
                    class="btn border-0 d-flex align-items-center rounded-3"
                    href="{% url 'shop:customer_authentication' %}"
                    rel="nofollow"
                  >
                    <i class="bi bi-heart fs-7 text-danger"></i>
                  </a>
                  {% endif %}
                  <!-- <a href="{% url 'shop:add_to_favorites' product_id=product.id ref='product_detail' %}" rel="nofollow"><i class="bi bi-heart"></i></a> -->
                </div>
              </div>
              <div class="swiper product-gallery p-0">
                <div
                  class="swiper-wrapper"
                  title="برای بزرگنمایی تصویر دابل کلیک کنید"
                >
                  {% for image in product.get_gallery %}
                  <div class="swiper-slide p-0">
                    <div class="swiper-zoom-container p-0">
                      <img src="{{ image }}" alt="{{ product.name }}" />
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="swiper-pagination d-none d-lg-block"></div>
              </div>
              <div class="swiper product-gallery-thumb">
                <div class="swiper-wrapper">
                  {% for image in product.get_gallery %}
                  <div class="swiper-slide">
                    <img src="{{ image }}" alt="{{ product.name }}" />
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-9">
            <div class="product-meta-title">
              <div class="row align-items-center gy-3">
                <div class="col-lg-8">
                  <h1 class="font-16">{{ product.name }}</h1>
                </div>
                <div class="col-lg-4">
                  <div class="d-flex justify-content-end align-items-center">
                    {% if product.brand and product.brand.name != 'متفرقه' %}
                    <a
                      href="{% url 'shop:special_brand_products' product.brand.name %}"
                      class="badge success-label btn btn-lg rounded-pill font-12 py-2"
                      >{{product.brand.name}}</a
                    >
                    {% endif %} 
                    {% if product.is_original == True %}
                    <button
                      class="badge danger-label btn btn-lg rounded-pill font-12 py-2"
                    >
                      کالای اصل
                    </button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row gy-4 my-2">
              <div class="col-lg-6">
                <div class="product-meta-rating my-3">
                  <div class="d-flex align-items-center">
                    {% for category in product.category.all|slice:":2" %}
                    <a
                      href="{% url 'shop:category_products' category.slug %}"
                      class="badge danger-label btn btn-lg rounded-pill font-12"
                      >{{category.name}}</a
                    >
                    {% endfor %}
                  </div>
                </div>
                <div class="product-meta-feature-items text-justify">
                  <h2 class="title font-16 mb-2 icon-circle">ویژگی های کالا</h2>
                  <p class="text-justify" style="text-align: justify">
                    {{product.short_description|safe}}
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <form
                  method="post"
                  action="{% url 'shop:add_to_cart'  product.id %}"
                >
                  {% csrf_token %}
                  <div class="d-flex flex-column">
                    <div class="row gy-3 text-start">
                      <div class="col-lg-12">
                        <div
                          class="product-meta-rating mt-2 text-lg-center text-center"
                        >
                          <div
                            class="w-100 d-flex flex-column justify-content-center align-items-center mt-3"
                          >
                            <div
                              class="bs-bg-gray-200 product-meta-info-item rounded-3 p-3 border border-dark-subtle d-flex flex-column align-items-center justify-content-center"
                            >
                              <div class="col-lg-12">
                                <div
                                  class="product-meta-rating text-lg-center text-center"
                                >
                                  <div
                                    class="w-100 d-flex flex-column justify-content-center align-items-center mt-2"
                                  >
                                    <div class="row">
                                      <div class="col-md-6">
                                        ارسال امن و سریع
                                        <i class="bi bi-truck"></i>
                                        <hr />
                                      </div>
                                      <div class="col-md-6">
                                        تضمین اصالت کالا
                                        <i class="bi bi-bookmark-star"></i>
                                        <hr />
                                      </div>
                                      <div class="col-md-6">
                                        پشتیبانی ۲۴ ساعته
                                        <i class="bi bi-bookmark-star"></i>
                                        <hr />
                                      </div>
                                      <div class="col-md-6">
                                        امکان عودت کالا
                                        <i class="bi bi-clock"></i>
                                        <hr />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="product-meta-color">
                                {% if product.get_product_varieties.count > 1 %}
                                <h5 class="font-16">انتخاب تنوع کالا</h5>
                                <div class="product-meta-color-items">
                                  <select
                                    name="size"
                                    id="floatingInputOstan"
                                    class="w-100 mb-3 form-select"
                                  >
                                    {% for variety in varieties %} 
                                    {% if variety.name != 'default variety' %}
                                    <option value="{{variety.id}}">
                                      {{variety.name}}
                                    </option>
                                    {% endif %} 
                                    {% endfor %}
                                  </select>
                                </div>
                                {% endif %}
                              </div>
                              {% if product.off_active == True %}
                              <div>
                                <div
                                  class="d-flex m-2 align-items-center justify-content-sm-start justify-content-center"
                                >
                                  <p
                                    class="mb-0 old-price font-22 text-muted-two text-danger text-decoration-line-through me-3"
                                  >
                                    {{ product.get_normal_price }}
                                  </p>
                                  <h6
                                    class="font-30 title-font new-price main-color-one-color"
                                  >
                                    {{product.get_sales_price}} تومان
                                  </h6>
                                </div>
                              </div>
                              {% else %} 
                              {% if product.price == 0 %}
                              <div>
                                <div
                                  class="d-flex m-2 align-items-center justify-content-sm-start justify-content-center"
                                >
                                  <h6
                                    class="font-30 title-font new-price main-color-one-color"
                                  >
                                    ناموجود
                                  </h6>
                                </div>
                              </div>
                              {% else %}
                              <div>
                                <div
                                  class="d-flex m-2 align-items-center justify-content-sm-start justify-content-center"
                                >
                                  <h6
                                    class="font-30 title-font new-price main-color-one-color"
                                  >
                                    {{product.get_normal_price}} تومان
                                  </h6>
                                </div>
                              </div>
                              {% endif %} 
                              {% endif %} 
                              {% if product.price != 0 %}

                              <div class="counter">
                                <label>
                                  <input
                                    type="text"
                                    name="count"
                                    class="counter"
                                    value="{{purchased}}"
                                  />
                                </label>
                              </div>
                              <button
                                type="submit "
                                class="btn main-color-green btn-add-to-cart text-white mt-3 mb-4"
                              >
                                <i class="bi bi-basket me-3 lh-sm fs-4"></i>
                                افزودن به سبد خرید
                              </button>
                              {% endif %} 
                              {% if messages %}
                              <div class="messages mt-3">
                                {% for message in messages %}
                                <div
                                  class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                  role="alert"
                                >
                                  {{ message }}
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                {% endfor %}
                              </div>
                              {% endif %}
                              <div>
                                <p>{{message}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--============ end main content ==============-->

<!--============ start product description ==============-->

<section class="product-desc my-3">
  <div class="container-fluid">
    <div class="product-desc-tab">
      <ul class="nav" id="productTab" role="tablist">
        <li class="nav-item">
          <button
            aria-selected="true"
            class="active waves-effect waves-light"
            data-bs-target="#productDescLess-pane"
            data-bs-toggle="tab"
            id="productDescLess"
            role="button"
            type="button"
          >
            توضیحات کالا
          </button>
        </li>
        <li class="nav-item">
          <button
            aria-selected="true"
            class="waves-effect waves-light"
            data-bs-target="#productTable-pane"
            data-bs-toggle="tab"
            id="productTable"
            role="button"
            type="button"
          >
            مشخصات کالا
          </button>
        </li>
        <li class="nav-item">
          <button
            aria-selected="false"
            class="d-flex waves-effect waves-light"
            data-bs-target="#productComment-pane"
            data-bs-toggle="tab"
            id="productComment"
            role="button"
            type="button"
          >
            نظرات
            <span class="badge main-color-two-bg ms-2 lh-sm"
              >{{comments.count}}</span
            >
          </button>
        </li>
      </ul>
    </div>
    <div class="row mt-4 pt-2">
      <div class="col-xl-12">
        <div class="content-box">
          <div class="container-fluid">
            <div class="product-descs" id="prodesc">
              <div class="product-desc">
                <div class="product-desc-tab-content">
                  <div class="tab-content" id="productTabContent">
                    <div
                      class="tab-pane fade show active product-desc-less-contents"
                      id="productDescLess-pane"
                    >
                      <div class="product-desc-content">
                        <h2 class="font-22 mb-2 title-font title-line-bottom">
                          معرفی محصول
                        </h2>
                        {% if product.video_code %}
                        <div class="row my-4">
                          <div
                            class="col-12 col-lg-3 col-xl-3 col-md-3 align-items-center justify-content-center"
                          ></div>
                          <div
                            class="col-12 col-lg-6 col-xl-6 col-md-6 align-items-center justify-content-center"
                          >
                            {{product.video_code|safe}}
                          </div>
                          <div
                            class="col-12 col-lg-3 col-xl-3 col-md-3 align-items-center justify-content-center"
                          ></div>
                        </div>
                        {% endif %}
                        <p>{{ product.description|safe }}</p>
                        <hr />
                        <h3 class="font-16">
                          <strong>برچسب‌های محصول: </strong>
                        </h3>
                        {% for tag in product.tags.all %}
                        <a
                          class="btn btn-sm btn-success m-1"
                          href="{% url 'shop:filter_tag_products' tag.slug %}"
                          >{{tag.name}}</a
                        >

                        {% endfor %}
                      </div>
                    </div>

                    <div class="tab-pane fade" id="productTable-pane">
                      <div
                        aria-labelledby="#productTable"
                        class="tab-pane fade active show"
                        role="tabpanel"
                      >
                        <h2 class="font-26 mb-2 title-font title-line-bottom">
                          مشخصات فنی
                        </h2>
                        <div class="content">{{product.features|safe}}</div>
                      </div>
                    </div>

                    <div
                      class="tab-pane fade product-comment-content"
                      id="productComment-pane"
                    >
                      <div class="comment-form">
                        <h2 class="font-26 mb-2 title-font title-line-bottom">
                          نظرت در مورد این محصول چیه؟
                        </h2>
                        <p class="font-14 text-muted mt-2">
                          برای ثبت نظر، از طریق دکمه افزودن دیدگاه جدید نمایید.
                          اگر این محصول را قبلا خریده باشید، نظر شما به عنوان
                          خریدار ثبت خواهد شد.
                        </p>
                        <form
                          method="post"
                          action="{% url 'shop:comment_create'  product.id %}"
                        >
                          {% csrf_token %}
                          <div class="row gy-4">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-floating mb-3 form-group">
                                    <input
                                      name="email"
                                      class="form-control"
                                      id="floatingInputEmail1"
                                      placeholder="ایمیل خود را وارد کنید"
                                      type="email"
                                    />
                                    <label for="floatingInputEmail1"
                                      >ایمیل خود را وارد کنید</label
                                    >
                                  </div>
                                </div>

                                <div class="col-12">
                                  <div class="form-floating">
                                    <textarea
                                      name="body"
                                      class="form-control"
                                      id="floatingTextarea2"
                                      placeholder="Leave a comment here"
                                      style="height: 150px"
                                    ></textarea>
                                    <label for="floatingTextarea2"
                                      >متن نظر!</label
                                    >
                                  </div>
                                </div>

                                <div class="col-12 mt-2">
                                  <button
                                    type="submit"
                                    class="btn main-color-two-bg px-5 btn-lg rounded-0 border-0"
                                  >
                                    ثبت نظر
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="box_filter mt-5 pb-3">
                        <div class="row align-items-end">
                          <div class="col-md-4 bf1">
                            <h2 class="title-font title-line-bottom">
                              نظرات کاربران
                            </h2>
                          </div>
                        </div>
                      </div>

                      <div class="box_users_comment mt-3 p-4">
                        <div class="row">
                          {% for comment in comments %} 
                          {% if comment.approved == True %}
                          <div class="col-lg-12 pr-5" style="margin-top: -10px">
                            <div class="box_comment_header mt-4 mt-lg-0">
                              <br />
                              <span class="span2"
                                >توسط {{comment.sender.full_name}} در تاریخ
                                {{comment.shamsi_created_date}}
                              </span>
                            </div>
                            <div class="border-bottom mt-3"></div>

                            <div class="row mt-4">
                              <div class="col-md-12">
                                <p class="box_text_comment">
                                  {{comment.body|safe}}
                                </p>
                              </div>
                            </div>
                          </div>
                          {% endif %} 
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--============ end product description ==============-->

<!--============ start product slider ==============-->

<section class="product-slider site-slider">
  <div class="container-fluid">
    <div class="product-slider-box-title">
      <div class="row align-items-center">
        <div class="col-lg-8 col-6">
          <h2 class="title-font product-slider-box-title-title dot">
            <span class="main-color-one-color">محصولات مرتبط</span>
          </h2>
        </div>
        <div class="col-lg-4 col-6">
          <div class="text-end">
            <a
              href="{% url 'shop:product_list' %}"
              class="btn main-color-one-bg rounded-3"
              >مشاهده همه</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="swiper pro-slider">
      <div class="swiper-wrapper align-items-center">
        {% for product in product.get_related_products %}
        <div class="swiper-slide">
          <div class="product-box p-2">
            <a href="{% url 'shop:product_detail' product.slug %}">
              <div class="p-0 text-center">
                <img
                  alt="{{ product.name }}"
                  class="img-fluid img-fluid-custom text-center"
                  src="{{product.get_main_image}}"
                  style="height: max-content; max-height: 200px"
                />
              </div>
            </a>
            <div class="product-title mt-2">
              <div class="title">
                <a href="{% url 'shop:product_detail' product.slug %}"
                  ><p class="title-font font-14">{{product.name}}</p></a
                >
              </div>
            </div>
            <div class="row align-items-center g-2 mt-2">
              <div class="col-8 text-start">
                <div
                  class="price justify-content-between w-100 align-items-baseline"
                >
                  {% if product.off_active == True %}
                  <div
                    class="justify-content-sm-start text-start align-items-center"
                  >
                    <p class="font-12 title-font new-price mb-0 text-start">
                      {{product.get_sales_price}} تومان
                    </p>
                    <span
                      class="mb-0 mt-0 old-price font-12 text-muted-two text-danger text-decoration-line-through me-1"
                    >
                      {{ product.get_normal_price }}</span
                    >
                  </div>
                  {% else %}
                  <h6 class="font-14 title-font new-price text-start">
                    {{ product.get_normal_price }} تومان
                  </h6>
                  {% endif %}
                </div>
              </div>
              <div class="col-4 text-end">
                <a
                  class="btn rounded-3 main-color-one-bg text-end"
                  href="{% url 'shop:product_detail' product.slug %}"
                  rel="nofollow"
                >
                  <i class="bi bi-eye text_white fs-6"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>

{% endblock %}
