{% extends "base_4.html" %}
{% load static %}
{% load humanize %}

{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="Liatoy" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{% if canonical == 'category' %}{{store.default_canonical}}{% url 'shop:category_products' category.slug %}{% endif %}{% if canonical == 'tag' %}{{store.default_canonical}}{% url 'shop:special_tag_products' tag.slug %}{% endif %}{% if canonical == 'brand' %}{{store.default_canonical}}{% url 'shop:special_brand_products' brand.name %}{% endif %}{% if canonical != 'tag' and canonical != 'category' and canonical != 'brand' %}{{store.default_canonical}}{% url 'shop:product_list' %}{% endif %}">
                            

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{% if canonical == 'category' %}{{store.default_canonical}}{% url 'shop:category_products' category.slug %}{% endif %}{% if canonical == 'tag' %}{{store.default_canonical}}{% url 'shop:special_tag_products' tag.slug %}{% endif %}{% if canonical == 'brand' %}{{store.default_canonical}}{% url 'shop:special_brand_products' brand.name %}{% endif %}{% if canonical != 'tag' and canonical != 'category' and canonical != 'brand' %}{{store.default_canonical}}{% url 'shop:product_list' %}{% endif %}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}فروشگاه{% endblock %}

{% block content %}

{% if store.has_domain == True %}
<script>
    // Replace the common part of the URL with an empty string
    var currentUrl = window.location.href;
    var newUrl = currentUrl.replace('/shop/{{store.name}}/', '/');
    history.replaceState(null, null, newUrl);
</script>
{% endif %}


<section class="content my-25">
    <div class="container-fluid">

        <!-- start filter in mobile -->
        <div class="custom-filter d-lg-none d-block">
            <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-3 rounded-3 position-fixed"
                    style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="bi bi-funnel font-20 fw-bold text-white"></i>
                <span class="d-block font-14 text-white">فیلتر</span>
            </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight"
                 aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title">فیلتر ها</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="filter-items position-sticky shadow-none top-0">
                        <div class="container-fluid">
                        {% if main_filters.category or main_filters.category or main_filters.brand or main_filters.age or main_filters.price_range %}
                        <div class="item-box">
                            <div class="title">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="font-14">فیلتر های اعمال شده</h6>
                                    <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBox1"
                                       role="button" aria-expanded="false">
                                        <i class="bi bi-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                            {% for main_filter in main_filters.category %}
                            دسته‌بندی: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' 'all' brand_slug age_slug price_slug %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                            {% for main_filter in main_filters.brand %}
                            برند: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' category_slug 'all' age_slug price_slug %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                            {% for main_filter in main_filters.age %}
                            گروه سنی: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' category_slug brand_slug 'all' price_slug %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                            {% for main_filter in main_filters.price_range %}
                            بازه قیمتی: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' category_slug brand_slug age_slug 'all' %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form method="post" action="{% url 'shop:product_list'  %}">
                            {% csrf_token %}
                            
                            <div class="filter-item">
                                {% if active_filters %}
                                <div class="item-box shadow-box">
                                    <div class="title">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h6 class="font-14">فیلتر های اعمال شده</h6>
                                            <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBox1"
                                               role="button" aria-expanded="false">
                                                <i class="bi bi-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% for active_filter in active_filters %}
                                    <div class="desc collapse show" id="collapseItemBox1">
                                        <a href="{% url 'shop:clear_active_filter'  active_filter.filter.id active_filter.value.id %}"
                                           class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                            <span>{{active_filter.filter.name}} : {{active_filter.value.value}}</span>
                                            <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                        </div>
                                        {% endfor %}
                                </div>
                                {% endif %}
                                <h5 class="filter-item-title">دسته بندی ها</h5>
                                <div class="filter-item-content">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                        <select name="category" class="form-select width-100">
                                            {% if main_selected_category != None %}
                                                <option value= "{{ main_selected_category.id }}" class="text-white">{{ main_selected_category.name }}</option>
                                            {% else %}
                                                <option value="0" class="text-white">انتخاب</option>
                                            {% endif %}
                                            {% for category in categories %}
                                                <li><option value="{{ category.id }}">{{ category.name }}</option></li>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if store.show_brands == True %}
                                <h5 class="filter-item-title">برندها</h5>
                                <div class="filter-item-content">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                        <select name="brand" id="floatingInputOstan" class="form-select">
                                            {% if selected_brand != None %}
                                                <option value= "{{ selected_brand.id }}" class="text-white">{{ selected_brand.name }}</option>
                                            {% else %}
                                                <option value="0" class="text-white">انتخاب</option>
                                            {% endif %}    
                                            {% for brand in brands %}
                                                <option value="{{brand.id}}">{{brand}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}

                                {% if store.show_ages == True %}
                                <h5 class="filter-item-title">گروه‌های سنی</h5>
                                <div class="filter-item-content">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                        <select name="age" id="floatingInputOstan" class="form-select">
                                            {% if selected_age != None %}
                                                <option value= "{{ selected_age.id }}" class="text-white">{{ selected_age.group }}</option>
                                            {% else %}
                                                <option value="0" class="text-white">انتخاب</option>
                                            {% endif %}    
                                            {% for age in ages %}
                                                <option value="{{age.id}}">{{ age }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}

                                <h5 class="filter-item-title">بازه قیمتی</h5>
                                <div class="filter-item-content">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                        <select name="price_range" id="floatingInputOstan" class="form-select">
                                            {% if selected_price_range != None %}
                                                <option value= "{{ selected_price_range.id }}" class="text-white">{{ selected_price_range }}</option>
                                            {% else %}
                                                <option value="0" class="text-white">انتخاب</option>
                                            {% endif %}
                                            {% for price_range in price_ranges %}
                                                <li>
                                                    <option value="{{ price_range.id }}">{{ price_range }}</option>                                       
                                                </li>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="filter-item text-center">
                                    <button type="submit" class="btn-outline-site">اعمال فیلتر</button>
                                </div>
                            
                            </div>
                        </form>
                            <div class="container-fluid mt-4">
                                <div class="filter-item">
                                    {% if feature_filters.items %}
                                    <div class="filter-item w-100">
                                        <div class="filter-item align-items-center">
                                            <h5 class="filter-item-title">{{filter.name}}</h5>
                                            <div class="filter-item-content  justify-content-between form-check-label">
                                                <form method="post" action="{% url 'shop:filter_product_list' category_slug brand_slug age_slug price_slug %}">
                                                    {% csrf_token %}
                                                    {% for key, value in feature_filters.items %}
                                                    <h6 class="mt-3">{{ key }}</h6>
                                                    {% for feature in value %}
                                                    <div class="form-check">
                                                        <label for="colorCheck1" class="form-check-label">{{feature}}</label>
                                                        <input type="checkbox" {% if feature in values_list %}checked{% endif %} name="filters" id="colorCheck1" value="{{key.id}}:{{feature}}"
                                                            class="form-check-input">
                                                    </div>
                                                    {% endfor %}
                                                    {% endfor %}
                                                    <div class="filter-item text-center mt-4">
                                                        <button type="submit" class="btn-outline-site">فیلتر بر اساس ویژگی</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>     
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end filter mobile -->

        <div class="row gy-3">
            <div class="col-lg-3 d-lg-block d-none">
                <div class="filter-items position-sticky top-0">
                    <div class="container-fluid">
                        
                        <div class="filter-item">
                            {% if main_filters.category or main_filters.category or main_filters.brand or main_filters.age or main_filters.price_range %}
                        <div class="item-box">
                            <div class="title">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="font-14">فیلتر های اعمال شده</h6>
                                    <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBox1"
                                       role="button" aria-expanded="false">
                                        <i class="bi bi-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                            {% for main_filter in main_filters.category %}
                            دسته‌بندی: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' 'all' brand_slug age_slug price_slug %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                            {% for main_filter in main_filters.brand %}
                            برند: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' category_slug 'all' age_slug price_slug %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                            {% for main_filter in main_filters.age %}
                            گروه سنی: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' category_slug brand_slug 'all' price_slug %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                            {% for main_filter in main_filters.price_range %}
                            بازه قیمتی: <div class="desc collapse show" id="collapseItemBox1">
                                <a href="{% url 'shop:filter_product_list' category_slug brand_slug age_slug 'all' %}"
                                   class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                    <span>{{main_filter}}</span>
                                    <span class="ms-3"><i class="bi bi-x text-danger"></i></span></a>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                            <form method="post" action="{% url 'shop:product_list'  %}">
                                {% csrf_token %}
                                <!-- <div class="filter-item">
                                    <h5 class="filter-item-title">جستجو</h5>
                                    <div class="filter-item-content">
                                        <div class="search-form">
                                            <form action="">
                                                <div class="search-filed">
                                                    <label>
                                                        <input type="text" placeholder="جستجوی محصولات ..."
                                                               class="form-control search-input">
                                                    </label>
                                                    <button type="submit"
                                                            class="btn search-btn main-color-one-bg rounded-pill"><i
                                                            class="bi bi-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="filter-item">
                                    <h5 class="filter-item-title">دسته‌بندی‌ها</h5>
                                    <div class="filter-item-content">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <select name="category" class="form-select width-100">
                                                {% if selected_category != None %}
                                                    <option value= "{{ selected_category.id }}" class="text-white">{{ selected_category.name }}</option>
                                                {% else %}
                                                    <option value="0" class="text-white">انتخاب</option>
                                                {% endif %}
                                                {% for category in categories %}
                                                    <li><option value="{{ category.id }}">{{ category.name }}</option></li>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {% if store.show_brands == True %}
                                    <h5 class="filter-item-title">برندها</h5>
                                    <div class="filter-item-content">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <select name="brand" id="floatingInputOstan" class="form-select">
                                                {% if selected_brand != None %}
                                                    <option value= "{{ selected_brand.id }}" class="text-white">{{ selected_brand.name }}</option>
                                                {% else %}
                                                    <option value="0" class="text-white">انتخاب</option>
                                                {% endif %}    
                                                {% for brand in brands %}
                                                    <option value="{{brand.id}}">{{brand}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if store.show_ages == True %}
                                    <h5 class="filter-item-title">گروهای سنی</h5>
                                    <div class="filter-item-content">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <select name="age" id="floatingInputOstan" class="form-select">
                                                {% if selected_age != None %}
                                                    <option value= "{{ selected_age.id }}" class="text-white">{{ selected_age.group }}</option>
                                                {% else %}
                                                    <option value="0" class="text-white">انتخاب</option>
                                                {% endif %}    
                                                {% for age in ages %}
                                                    <option value="{{age.id}}">{{age}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {% endif %}
    
                                    <h5 class="filter-item-title">بازه قیمتی</h5>
                                    <div class="filter-item-content">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <select name="price_range" id="floatingInputOstan" class="form-select">
                                                {% if selected_price_range != None %}
                                                    <option value= "{{ selected_price_range.id }}" class="text-white">{{ selected_price_range.min_value|intcomma }} تا {{ main_selected_price_range.max_value|intcomma }} تومان</option>
                                                {% else %}
                                                    <option value="0" class="text-white">انتخاب</option>
                                                {% endif %}
                                                {% for price_range in price_ranges %}
                                                    <li>
                                                        <option value="{{ price_range.id }}">{{ price_range }}</option>                                       
                                                    </li>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="filter-item text-center">
                                    <button type="submit" class="btn-outline-site">اعمال فیلتر</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="container-fluid mt-4">
                        <div class="filter-item">
                            {% if feature_filters.items %}
                            <div class="filter-item w-100">
                                <div class="filter-item align-items-center">
                                    <h5 class="filter-item-title">{{filter.name}}</h5>
                                    <div class="filter-item-content  justify-content-between form-check-label">
                                        <form method="post" action="{% url 'shop:filter_product_list' category_slug brand_slug age_slug price_slug %}">
                                            {% csrf_token %}
                                            {% for key, value in feature_filters.items %}
                                            <h6 class="mt-3">{{ key }}</h6>
                                            {% for feature in value %}
                                            <div class="form-check">
                                                <label for="colorCheck1" class="form-check-label">{{feature}}</label>
                                                <input type="checkbox" {% if feature in values_list %}checked{% endif %} name="filters" id="colorCheck1" value="{{key.id}}:{{feature}}"
                                                    class="form-check-input">
                                            </div>
                                            {% endfor %}
                                            {% endfor %}
                                            <div class="filter-item text-center mt-4">
                                                <button type="submit" class="btn-outline-site">فیلتر بر اساس ویژگی</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>     
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                
                <div class="category-items">
                    <div class="row g-3">
                        {% for product in products %}
                        <div class="col-6 col-lg-3 col-md-3 col-xl-3 g-1 gy-1">
                            <div class="product-box p-2">
                                <a href="{% url 'shop:product_detail' product.slug %}">
                                <div class="product-image p-0">
                                    <img alt="{{ product.name }}" class="img-fluid"
                                         src="{{product.get_main_image}}">
                                </div>
                                </a>
                                <div class="product-title mt-2">
                                    <div class="title">
                                        <a href="{% url 'shop:product_detail' product.slug %}"><p class="title-font font-14">{{product.name}}</p></a>
                                    </div>
                                </div>
                                <div class="product-action flex-column mt-1">
                                    <div class="price d-flex justify-content-between w-100 align-items-baseline">
                                        {% if product.off_active == True %}
                                                <div >
                                                    <div class="d-flex align-items-center justify-content-sm-start justify-content-center">
                                                        <p class="mb-0 old-price font-14 text-muted-two text-danger text-decoration-line-through me-3">
                                                            {{ product.get_normal_price }}</p>
                                                        <h6 class="font-14 title-font new-price">{{product.get_sales_price}}
                                                            تومان</h6>
                                                    </div>
                                                </div>
                                        {% else %}
                                            <div >
                                                <div class="d-flex align-items-center justify-content-sm-start justify-content-center">
                                                    
                                                    <h6 class="font-14 title-font new-price">{{ product.get_normal_price }} تومان</h6>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="link w-100 mt-4 d-flex align-items-center justify-content-between">
                                        <a class="btn border-0 d-flex align-items-center rounded-3 main-color-one-bg fs-12"
                                           href="{% url 'shop:product_detail'  product.slug %}">
                                            مشاهده
                                        </a>
                                        <a class="btn border-0 d-flex align-items-center rounded-3 main-color-two-bg fs-12 py-1 px-2"
                                           href="{% url 'shop:add_to_favorites' product_id=product.id ref='products' %}" rel="nofollow">
                                            <i class="bi bi-heart fs-9 text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12">
                            <div class="my-paginate my-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination flex-wrap justify-content-center">
                                        {% if products.has_previous %}
                                        <li class="page-item disabled">
                                            <a class="page-link rounded-3" href="?page={{ products.previous_page_number }}">قبلی</a>
                                        </li>
                                        <li class="page-item"><a class="page-link rounded-3" href="?page=1">1</a></li>
                                        {% endif %}
                                        <li class="page-item active"><a class="page-link rounded-3" href="#">{{ products.number }}</a>
                                        </li>
                                        {% if products.has_next %}
                                        <li class="page-item"><a class="page-link rounded-3" href="?page={{ products.next_page_number }}">بعدی</a></li>
                                        <li class="page-item"><a class="page-link rounded-3" href="?page={{ products.paginator.num_pages }}">آخرین</a></li>
                                        {% endif %}
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block js %}

{% endblock %}