{% extends 'base_4.html' %}
{% load static %}


{% block content %}


<div class="auth h-100 d-flex align-items-center">
    <div class="container-fluid">
        <div class="auth-items">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="auth-form shadow-xl rounded-3  mt-5 bg-white">
                        <div class="auth-form-title header-logo d-flex align-items-center justify-content-between title-panel mb-4 slider-title-desc-center">
                            <h2 class="text-center h4 text-muted title-font">عضویت / ورود</h2>
                            <a href="">
                                <img src="{{ store.get_logo_image }}"  alt="">
                            </a>
                        </div>
                        <form method="post" id="form-auth" class="py-3">
                            {% csrf_token %}
                            <div class="comment-item mb-4">
                                <input name="phone_number" type="text" class="form-control" id="username">
                                <label for="username" class="form-label label-float">شماره تلفن همراه خود را وارد
                                    کنید</label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn main-color-one-bg w-100 py-3">دریافت کد تایید</button>
                            </div>
                        </form>

                    </div>
                    <p class="loginTermsDesc lh-lg mt-3">با ورود و یا ثبت نام، شما <a class="underlined main-color-one-color fw-bold" href="{% url 'shop:policies' %}">شرایط و
                        قوانین</a> استفاده از سرویس‌های سایت لیاتوی را می‌پذیرید.</p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}